/** Template */
#empty {
    display: none;
}

#displays .empty {
    min-width: 300px;
    margin-top: 16px;
}

.hide {
    display: none;
}

.hover-only {
    visibility: hidden;
}

#displays .panel {
    min-width: 400px;
}

.tile .tile-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    width: 299px;
}

.tile .tile-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    width: 250px;
}

.tile:hover .hover-only {
    visibility: visible;
}

.tile .icon-column > div {
    height: 15px;
}

.tile .icon-column i {
    font-size: 0.7em;
}

#displays .panel .panel-body {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.panel .panel-body .tile .tile-content .tile-subtitle {
    font-style: italic;
    font-size: 0.6rem;
}

.panel .panel-body .tile .tile-content .flashIcon {
    margin-right: 0.4rem;
}

.menu {
    position: absolute;
    right: 1rem;
    box-shadow: 0 0.05rem 0.2rem rgba(87,100,198,0.6);
}

#player {
    margin-top: 20px;
    text-align: center;
}

#player i {
    font-size: 1.3rem;
}

a#configLink, a#closeConfigLink {
    float: right;
    width: 20px;
}

#config {
    display: none;
    min-width: 400px;
}

#config .panel {
    min-width: 400px;
}

#save {
    display: block;
    width: 100%;
}

@keyframes successColor {
    from {
        background-color: #4452c0;
        color: white;
    }
    to {
        background-color: #0ea951;
        color: black;
    }
}

.successBackground {
    animation-name: successColor;
    animation-duration: 250ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.watermark {
    opacity: 0.4;
}

#tabTools {
    align-items: flex-end;
    margin-bottom: -8px;
}

#tabTools .modal-container {
    width: 100%;
}

#tabTools h6 {
    margin-bottom: 0;
}

#tabTools .displays {
    margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
}

#tabTools .displays .btn {
    height: 1.2rem;
    width: 1.6rem;
    line-height: 0.4rem;
    margin-right: 0.2rem;
}

#tabTools #zoomAndScroll {
    display: flex;
    justify-content: space-between;
}

#tabTools .modal-body {
    min-height: 220px;
}

#tabTemplate {
    display: none;
}

.js-param-button i {
    visibility: hidden;
}

.tile:hover .js-param-button i {
    visibility: visible;
}